<%- include("header.ejs", {title: "About Us"}); %>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ratione deleniti numquam voluptates doloremque id, mollitia suscipit ad placeat molestias voluptatum debitis esse accusamus adipisci nesciunt impedit! Reiciendis quae consequuntur aut repudiandae iure doloremque vitae quisquam quis aliquid voluptas aspernatur cum dolore in eius magni itaque deserunt laudantium soluta inventore rerum, eos necessitatibus porro a accusantium? Odio tempora dicta minus aliquam blanditiis maxime nihil ducimus tenetur animi ipsa sint, nemo dolor vero! Voluptatem, omnis unde. Laborum hic eos, sapiente nemo odio corporis minus eius, amet ut, deleniti sit reiciendis quae expedita repudiandae quam quo omnis veniam? Libero vel placeat illo?
</p>

<%- include("footer.ejs"); %>